* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: darkslategray;
}

.body {
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

.display, .row, button {
    border: 0.5px solid black;
}

.container  {
    border: 2px solid black;
    margin-top: 70px;
    margin-left: 520px;
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.display {
    text-align: right;
    font-size: 70px;
    background-color: lightgrey;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex: 1 1 auto
}

button {
    border: 1px solid black;
    font-size: 30px;
    flex: 1 1 auto;
}

.other, .AC {
    background-color: cadetblue;
}

.ope, .igual {
    background-color: orange;
}

.num, .punto {
    background-color: green;
}