* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container, .display, .row, button {
    border: 1px solid black;
}

.container  {
    width: 500px
    margin: 0px
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.diplay {

}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex: 1 1 auto;
}

button {
    border: 1px solid black;
}

.other {
    background-color: cadetblue;
}

.ope {
    background-color: orange;
}

.num {
    background-color: green;
}